.logo{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 30px;
}

.menu{
    border-top: #774233 1.5px solid;
    display: flex;
    justify-content: center;
    margin-right: 300px;
    margin-left: 300px;
    padding-top: 30px;
}


div{
    font-size: 20pt;
}

a{
    text-decoration: none;
    color: #774233;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #FFB142;
    border-radius: 20px;
    padding: 15px;
}

a:hover{
    background-color: #FFDB80;
    border-radius: 20px;
    padding: 15px;
}